.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.menu-button{
  display: flex;
  justify-content: flex-end;
}

.hamburger-btn {
  font-size: 24px;
  border: none;
  background: none;
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.App-header {
  height: 125px;
  background-color: hsl(0, 0%, 20%,100); 
}

