/* navbar */


.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.menu-button{
  display: flex;
  justify-content: flex-end;
}

.hamburger-btn {
  font-size: 24px;
  border: none;
  background: none;
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* Technicians page */
.technicians-container {
  display: flex;
  justify-content: space-around; 
  padding: 20px;
  flex-wrap: wrap;
}

.technician {
  flex-basis: 30%; 
  text-align: center; 
  margin: 10px;
}

.technician-description {
  font-size: 1.2rem;
}

.technician-image {
  width: auto; 
  max-width: 500px; 
  height: auto; 
  margin-top: 100px;
  margin-bottom: 15px;
  border: 2px solid grey; 
}

/* About us page */
.about-us-container {
  min-height: 90vh;
  text-align: center; 
  padding: 50px 20px; 
  background-color: #79B5B1;
  
}

.header {
  margin-top: 0px;
  font-size: 3rem; 
}

.header2 {
  margin-top: 40px;
  font-size: 2rem; 
}
.description {
  margin-top: 100px;
  font-size: 1.2rem; 
  max-width: 600px; 
  margin-left: auto; 
  margin-right: auto; 
}
.App-header {
  height: 125px;
  background-color: hsl(0, 0%, 20%,100); 
}

/* App.css */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
  background-color: #333; /* Background color of the title band */
}

.page-title {
  color: white;
  font-size: 5em;
}

/* Online Booking CSS */
.online-booking-container{
  min-height: 90vh;
  text-align: center; 
  padding: 50px 20px; 
  background-color: #79B5B1;

}